<%--
  Created by IntelliJ IDEA.
  User: Sohil
  Date: 10/3/11
  Time: 2:53 AM
  To change this template use File | Settings | File Templates.
--%>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8"/>
    <meta name="layout" content="main" />
    <title>Log in</title>
</head>
<body>
<div class="body">
    <h1>Please log in</h1>
    <g:if test="${flash.message}">
        <div class="message">${flash.message}</div>
    </g:if>
    <g:hasErrors bean="${race}">
        <div class="errors">
            <g:renderErrors bean="${user}" as="list" />
        </div>
    </g:hasErrors>
    <g:form controller="user" method="post" >
        <div class="dialog">
            <table>
                <tr class='prop'>
                    <td valign='top' class='name'>
                        <label >User ID:</label>
                    </td>
                    <td valign='top' class='value '>
                        <input type="text" maxlength='8'
                               name='userId'
                               value='${user?.userId}'>
                    </input>
                    </td>
                </tr>
                <tr class='prop'>
                    <td valign='top' class='name'>
                        <label >Password:</label>
                    </td>
                    <td valign='top' class='value '>
                        <input type="password" maxlength='8'
                               name='password'
                               value='${user?.password}'>
                    </input>
                    </td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <span class="button">
                <g:actionSubmit value="Log in" />
            </span>
        </div>
    </g:form>
</div>
</body>
</html>